.body {
  margin: 0;
}

.jumbotron {
  background: url(banner_1.jpeg) top center;
  margin-top: 1em;
  background-size: cover;
  padding-top: 5em;
  padding-bottom: 9em;
  top: 3px;
}
#h11 {
  color: white;
  text-align: center;
  padding-top: 3rem;
}
#preparedness {
  text-align: justify;
}
