.body {
  margin: 0;
}

.jumbotron {
  background: url(picture_4.jpg) top center;
  margin-top: 1em;
  background-size: cover;
  padding-top: 10em;
  padding-bottom: 30em;
  top: 10px;
}
#h11 {
  color: white;
  text-align: center;
  padding-top: 17rem;
}
#preparedness {
  text-align: justify;
}
